.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-details {
    padding: 10px;
    height: 140px;
}

.App-intro {
  font-size: large;
}

.App-studentid {
  font-size: large;
}

.App-entercode {
  font-size: large;
}

.App-code {
    font-size: xx-large;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
